body {
    background-color: #1e272e;
    color: #ffffff;
}
nav {
    background-color: #1e272e;
}
nav ul li a {
    color: #ffffff;
}
nav .brand-logo {
    color: #ffffff;
}
.card {
    background-color: #57606f;
    color: #ffffff;
    border-color: #57606f;
}
.card .card-action a {
    color: #1e272e;
}
footer.page-footer {
    background-color: #0c2461;
    color: #ffffff;
}
footer.page-footer a {
    color: #ffffff;
}
footer.page-footer .divider {
    border-top-color: #ffffff;
    opacity: 0.5;
}